html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

.phone {
  position: absolute;
  height: 42vh;
  width: 21.03vh;
  right: 1%;
  bottom: 1vh;
}

.phone .frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../frame.png') no-repeat;
  background-size: auto 100%;
  pointer-events: none;
}

.phone .content {
  width: 96.2%;
  height: 38.5vh;
  margin-top: 1.77vh;
  margin-left: 0.12vh;
  box-sizing: border-box;
}

.phone .content iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 5%;
}

.phone .content .overlay {
  position: absolute;
  width: 96.2%;
  height: 38.5vh;
  pointer-events: none;
  border-radius: 5%;
  z-index: 7;
}

.phone .content .overlay .status-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 1.5vh;
  padding: 0 7%;
  top: 0;
  place-content: space-between;
  font-size: 1.25vh;
}

.phone .content .overlay .status-bar>div {
  color: white;
  display: inline-flex;
}

.phone .content .overlay .status-bar span {
  vertical-align: middle;
}

.phone .content .overlay .status-bar i {
  font-size: 1.2vh;
  vertical-align: middle;
  line-height: inherit;
  padding: 0 8% 0 0;
}

.phone .content .overlay .status-bar>.device-informations>span#time {
  padding-left: 2%;
}

.phone .content .overlay .task-bar {
  display: flex;
  position: absolute;
  height: 2.5vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
}

.phone .content .overlay .task-bar>img {
  height: 1.25vh;
}
