.apps {
  height: 100vh;
  /*background: url(../../images/backgrounds/galaxy.jpg) fixed center center no-repeat;
  background-size: cover;*/
  box-sizing: border-box;
}

.apps .content {
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: space-between;
}

.apps .content table {
  table-layout: fixed;
}

table td {
  text-align: center;
  vertical-align: middle;
}

#appicon {
  display: inline-grid;
  place-items: center;
  font-size: 2.8vh;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
  transition: filter 0.25s;
}

#appicon:active {
  filter: brightness(120%);
}

#appicon img {
  margin-bottom: 2%;
}

#appicon img {
  width: 8.5vh;
  pointer-events: none;
}

#appicon img:active {
  box-shadow: 0 0 10px 0 #000;
  border-radius: 50%;
}

.weather-widget {
  width: 90%;
  height: 28vh;
  font-size: 3vh;
  color: white;
}

.weather-widget .informations {
  display: inline-flex;
  width: 100%;
  height: 14vh;
  justify-content: space-between;
}

.weather-widget .informations .clock {
  display: grid;
}

.weather-widget .informations .clock span#time {
  font-size: 6.3vh;
}

.weather-widget .informations .current-weather {
  display: flex;
  float: right;
}

.weather-widget .informations .current-weather span#temperature {
  font-size: 4vh;
}

.weather-widget .informations .current-weather span#status {
  float: right;
  font-size: 2.2vh;
}

.weather-widget .informations .current-weather img {
  width: 8.4vh;
}

.weather-widget .informations .current-weather .temperature {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  margin-left: -10%;
}

.weather-widget .informations .current-weather .temperature span#current {
  font-size: 4.5vh;
}

.weather-widget .informations .current-weather .temperature difference {
  float: right;
  display: grid;
}

.weather-widget .informations .current-weather .status {
  display: grid;
  height: 100%;
  margin-left: 10%;
}

.weather-widget .weather {
  display: flex;
  width: 100%;
  height: 14vh;
}

.weather-widget .weather .weather-box {
  display: grid;
  width: 20%;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.weather-widget .weather .weather-box span#day {
  font-size: 2.5vh;
}

.weather-widget .weather .weather-box img {
  width: 5.5vh;
}

.weather-widget .weather .weather-box span#temperature {
  font-size: 2.75vh;
}

.difference {
  display: grid;
}
