html,
body {
	margin: 0;
	padding: 0;
	background: url('../images/temp-bg.jpg') fixed center center no-repeat;
	background-size: cover;
	overflow: hidden;
	user-select: none;
}

.phone {
	position: absolute;
	height: 42vh;
	width: 21vh;
	right: 1%;
	bottom: 1vh;
}

.phone .frame {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/iphonex.png') no-repeat;
	background-size: auto 100%;
	z-index:2;
}

.phone .content {
	width: 97.2%;
	height: 42.5vh;
	margin-top: 0.1vh;
	margin-left: 0.11vh;
	box-sizing: border-box;
}

.phone .content iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 5%;
	z-index:3;
}


.phone .content .overlay {
	position: absolute;
	height: 100%;
	width: 96.4%;
	z-index: 1;
	padding-top: 1.2vh;
	background: url(../images/backgrounds/screen/default.png) no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.phone .content .overlay .status-bar {
	width: 100%;
	height: 4%;
	padding: 0 7%;
}

.phone .content .overlay .status-bar > div {
	height: 100%;
	font-size: 68%;
	line-height: 18px;
	color: white;
}

.phone .content .overlay .status-bar .device-informations > #time {
	margin-left:1vh;
}

.phone .content .overlay .status-bar .device-informations > i {
	margin-left:55%;
}

.phone .content .overlay .status-bar span {
	vertical-align: middle;
}

.phone .content .overlay .status-bar i {
	font-size: 90%;
	line-height: 0;
	vertical-align: middle;
}

.phone .content .overlay .status-bar > .device-informations > span#time {
	padding-left: 2%;
}

.phone .content .overlay .task-bar {
	display: flex;
	position: absolute;
	height: 2.5vh;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	bottom: 3.5vh;
}

.phone .content .overlay .task-bar > img {
	height: 1.25vh;
}


.appcontent {
	padding-top:3vh;
	padding-bottom: 6.5vh;
}

.apps {
	/*height: 100vh;
	background: url(../../images/backgrounds/screen/default.png) fixed center center no-repeat;
	background-size: cover;
	box-sizing: border-box;*/
}

.apps .acontent {
	height: 100%;
	position:absolute;
	z-index:100;
}

.apps .acontent table {
	table-layout: fixed;
	margin-left: 7%;
	width: 84%;
	border-spacing: 2px;
}

.apps .acontent #apps2 {
	margin-top: 38%;
}

.appicon {
	font-size: 1.2vh;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
}

.appicon:active {
	color: lightgrey;
}

.appicon img {
	width: 3.8vh;
	pointer-events: none;
	border-radius:10px;
}

.appicon .active{
	box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.4);
}

.appicon p {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin-bottom: 2px;
}

.appicon .cal {
	position:relative;
}

td {
	padding:0;
}

.appicon .cal #calimg {	
	color:red;
	position:absolute;
	top:20%;
	left:50%;
	transform: translate(-50%,-50%);
	font-style:normal;
	font-size:16px;
	zoom:0.85;
	text-shadow:none;
}

.appicon .cal span:last-child {	
	zoom:1;
	color:Black;
	position:absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,-50%);
	font-style:normal;
	font-size:22px;
	text-shadow:none;
}