html,
body {
  margin: 0;
  padding: 0;
  background: url('https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.wonderfulengineering.com%2Fwp-content%2Fuploads%2F2014%2F06%2Fgalaxy-wallpapers-6.jpg') fixed center center no-repeat;
  background-size: cover;
  overflow: hidden;
  user-select: none;
}