html,
body {
  margin: auto;
  padding: 0;
  user-select: none;
  font-family: Century Gothic;
  overflow: hidden;
  cursor: default;
}

.appcontent {
  padding-bottom: 6.5vh;
}

.apps {
	/*height: 100vh;
	background: url(../../images/backgrounds/screen/default.png) fixed center center no-repeat;
	background-size: cover;
	box-sizing: border-box;*/
}

.apps .content {
	height: 100%;
}

.apps .content table {
	table-layout: fixed;
	margin-left: 7%;
	width: 84%;
}

.apps .content #apps2 {
	margin-top: 38%;
}

.appicon {
	font-size: 2.6vh;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
}

.appicon:active {
	color: lightgrey;
}

.appicon img {
	width: 8.5vh;
	pointer-events: none;
	border-radius:10px;
}

.appicon .active{
	box-shadow: 0px 0px 3px 3px rgba(255,255,255,0.4);
}

.appicon p {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin-bottom: 2px;
}

.appicon .cal {
	position:relative;
}

.appicon .cal #calimg {	
	color:red;
	position:absolute;
	top:20%;
	left:50%;
	transform: translate(-50%,-50%);
	font-style:normal;
	font-size:16px;
	zoom:0.85;
	text-shadow:none;
}

.appicon .cal span:last-child {	
	zoom:1;
	color:Black;
	position:absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,-50%);
	font-style:normal;
	font-size:22px;
	text-shadow:none;
}