html,
body {
  /*background-color: #292b37;*/
  font-family: Century Gothic;
  text-shadow: 0px 0px 3px #0006;
  overflow: hidden;
  margin: 0;
}

.envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(41, 43, 55, 0.9);

  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.45);

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

#speed-circ-1 {
  position: absolute;
  stroke-dasharray: 311;
  stroke-dashoffset: 77px;
  stroke-width: 0.5px;
  stroke: #59e2c4;
  transform: rotate(134.5deg);

  transition: stroke 1s;
  -webkit-transition: stroke 1s;
  -o-transition: stroke 1s;
  -moz-transition: stroke 1s;
}

#speed-circ-2 {
  position: absolute;
  stroke-dasharray: 311;
  stroke-dashoffset: 311.018px;
  stroke: #59e2c4;
  transform: rotate(134.5deg);

  transition: stroke 1s;
  -webkit-transition: stroke 1s;
  -o-transition: stroke 1s;
  -moz-transition: stroke 1s;
}

#speed-circ-2 {
  stroke-width: 1.5px;
}

#speed-circ-1.danger,
#speed-circ-2.danger,
#fuel-circ-1.danger,
#fuel-circ-2.danger {
  stroke: red;
}

#fuel-circ-1 {
  position: absolute;
  stroke-dasharray: 311;
  stroke-dashoffset: 342px;
  stroke-width: 0.75px;
  stroke: #59e2c4;
  transform: rotate(109deg);
  opacity: 0.35;

  transition: stroke 1s;
  -webkit-transition: stroke 1s;
  -o-transition: stroke 1s;
  -moz-transition: stroke 1s;
}

#fuel-circ-2 {
  position: absolute;
  stroke-dasharray: 311;
  stroke-dashoffset: 311.018px;
  stroke: #59e2c4;
  transform: rotate(109deg);

  transition: stroke 1s;
  -webkit-transition: stroke 1s;
  -o-transition: stroke 1s;
  -moz-transition: stroke 1s;
}

.fuel img {
  position: absolute;
  width: 10px;
}

.fuel span {
  position: absolute;
  font-size: 8px;
  color: white;
}

.fuel .strip {
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1em;
  z-index: 1;
}

.speedNobe {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.speedPosition {
  display: grid;
  position: absolute;
  align-content: center;
  color: #FFF;
  text-align: center;
  line-height: 22px;
  font-size: 30px;
}

.fonts {
  width: 100%;
  text-align: center;
}

.speedNobe div {
  position: absolute;
  width: 0;
  height: 0;
  top: -3px;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #59e2c4 transparent;
  transform: rotate(90deg);
  filter: drop-shadow(0 0 10px 0px rgba(0, 0, 0, 0.35));

  transition: border-color 0.75s;
  -webkit-transition: border-color 0.75s;
  -o-transition: border-color 0.75s;
  -moz-transition: border-color 0.75s;
}

.speedNobe div.danger {
  border-color: transparent transparent red transparent;
}

.numb,
.nob {
  position: absolute;
}

.nob {
  background: #eee;
  box-shadow: 0 0 2px 1px #eee;
  -webkit-box-shadow: 0 0 2px 1px #eee;
  -moz-box-shadow: 0 0 2px 1px #eee;
  -o-box-shadow: 0 0 2px 1px #eee;
}

.numb {
  color: #fcffff;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
}

.nob.danger {
  background: #FF113A;
  box-shadow: 0 0 2px 1px #FF113A;
  -webkit-box-shadow: 0 0 2px 1px #FF113A;
  -moz-box-shadow: 0 0 2px 1px #FF113A;
  -o-box-shadow: 0 0 2px 1px #FF113A;
}

.numb.danger {
  color: #FF113A;
}

input {
  display: none;
}

@media (min-width: 800px) {
  body {
    zoom: 0.8;
  }
}

@media (min-width: 1024px) {
  body {
    zoom: 0.85;
  }
}

@media (min-width: 1360px) {
  body {
    zoom: 0.9;
  }
}

@media (min-width: 1600px) {
  body {
    zoom: 0.95;
  }
}

@media (min-width: 1920px) {
  body {
    zoom: 1.0;
  }
}
