html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background: url('https://i.gyazo.com/1593fbf2af25bdba877960bc71009fb2.jpg') center center no-repeat fixed;
  background-size: cover;*/
  user-select: none;
  font-family: Raleway-ExtraLight;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.creation {
  display: flex;
}

.creation .rotation {  
  display: flex;
  position: absolute;
  width: 72%;
  height: 18vh;
  bottom: 0;
  justify-content: center;
}

.creation .rotation input {  
  width: 35%;
}

.creation .menu {
  display: flex;
  position: absolute;
  width: 28%;
  height: 100vh;
  right: 0;
  color: white;
}

.creation .menu .menu-bg {
  position: absolute;
  width: 28%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05);
  filter: blur(50px);
  z-index: 0;
}

.creation .menu input[type="number"],
.creation .menu input[type="text"] {
  width: 100%;
  height: 3.25vh;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  outline: 0;
  font-size: 1.35vh;
  font-family: Raleway;
  box-sizing: border-box;
  /*box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.creation .menu input::-webkit-input-placeholder {
  color: lightgrey;
}

.creation .menu .icon-menu {
  float: left;
  list-style: none;
  width: 12.25%;
  margin: 3vh 0;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  z-index: 999;
}

.creation .menu .icon-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creation .menu .icon-menu li img {
  display: inline-block;
  width: 4vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.creation .menu .icon-menu li img:hover {
  animation: shake 0.75s ease-in-out;
}

.creation .menu .icon-menu li img:active {
  filter: brightness(75%);
}

.creation .menu .icon-menu hr:last-child {
  display: none;
}

.creation .menu .icon-menu hr {
  width: 75%;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
}

.creation .menu .customize-menu {
  float: right;
  width: 90%;
  padding: 2%;
  color: white;
  z-index: 999;
}

.creation .menu .customize-menu p#title {
  margin: 2vh 0;
  font-size: 2.25vh;
  text-shadow: 1px 1px 1px black;
}

.creation .menu .customize-menu hr {
  margin: 3% 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
}

.creation .menu .customize-menu > .content {
  display: grid;
  height: 64vh;
  overflow-y: scroll;
}

.creation .menu .customize-menu .arrow {
  display: flex;
  width: 3vh;
  padding: 0 2.5%;
  justify-content: center;
  line-height: 2.75vh;
  font-size: 3.5vh;
  transition: filter 0.75s;
  filter: drop-shadow(0 0.25vh 0 deepskyblue);
}

.creation .menu .customize-menu .arrow:active {
  color: darkgrey;
}

.creation .menu .customize-menu .field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 1%;
  font-size: 1.65vh;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px black;
  transition: background-color 0.75s;
}

.creation .menu .customize-menu .arrow.afemale {
  filter: drop-shadow(0 0.25vh 0 deeppink);
}

.creation .menu .customize-menu .arrow.amale {
  filter: drop-shadow(0 0.25vh 0 deepskyblue);
}


/**
*** CREATE ***
*/

.creation .menu .customize-menu > .create button {
  width: 100%;
  height: 6vh;
  border: 0;
  outline: 0;
  font-family: Raleway-Thin;
  font-size: 2.25vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.35);
  background-color: deepskyblue;
  color: white;
  transition: background-color 0.75s;
}


/**
*** IMAGE PALETTE ***
*/

.creation .menu .customize-menu .image-palette {
  display: inline-block;
  width: 97%;
  height: 23vh;
  overflow-y: scroll;
  transition: height 0.75s;
}

.creation .menu .customize-menu .image-palette.active {
  height: 9.5vh;
}

.creation .menu .customize-menu .image-palette .image-field {
  display: inline-block;
  width: 20%;
  padding-bottom: 1%;
}

.creation .menu .customize-menu .image-palette .image-field .container {
  width: 90%;
  padding-bottom: 90%;
  background-size: cover;
  filter: brightness(80%);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  transition: filter 0.75s;
}

.creation .menu .customize-menu .image-palette .image-field .container:hover,
.creation .menu .customize-menu .image-palette .image-field .container.selected {
  filter: brightness(110%);
}


/**
*** COLOR PALETTE ***
*/

.creation .menu .customize-menu .color-palette-0,
.creation .menu .customize-menu .color-palette-1 {
  display: inline-block;
  width: 97%;
  height: 21.5vh;
  overflow-y: scroll;
  transition: height 0.75s;
}

.creation .menu .customize-menu .color-palette-2 {
  display: -webkit-box;
  width: 97%;
  height: 4.75vh;
  overflow-x: scroll;
}

.creation .menu .customize-menu .color-palette-0.active,
.creation .menu .customize-menu .color-palette-1.active {
  height: 14vh;
}

.creation .menu .customize-menu .color-palette-0 .color-field,
.creation .menu .customize-menu .color-palette-1 .color-field {
  width: 10%;
}

.creation .menu .customize-menu .color-palette-2 .color-field {
  width: 15%;
}

.creation .menu .customize-menu .color-palette-0 .color-field,
.creation .menu .customize-menu .color-palette-1 .color-field {
  display: inline-block;
  padding-bottom: 1%;
}

.creation .menu .customize-menu .color-palette-0 .color-field .color1,
.creation .menu .customize-menu .color-palette-1 .color-field .color1,
.creation .menu .customize-menu .color-palette-1 .color-field .color2,
.creation .menu .customize-menu .color-palette-2 .color-field .color1 {
  width: 80%;
  padding-bottom: 80%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  transition: box-shadow 0.75s;
}

.creation .menu .customize-menu .color-palette-0 .color-field .color1:hover,
.creation .menu .customize-menu .color-palette-1 .color-field .color1:hover,
.creation .menu .customize-menu .color-palette-1 .color-field .color2:hover,
.creation .menu .customize-menu .color-palette-2 .color-field .color1:hover {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
}

.creation .menu .customize-menu .color-palette-0 .color-field .color1.selected,
.creation .menu .customize-menu .color-palette-1 .color-field .color1.selected,
.creation .menu .customize-menu .color-palette-1 .color-field .color2.selected,
.creation .menu .customize-menu .color-palette-2 .color-field .color1.selected {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.8)!important;
}


/**
*** INFORMATION BOX ***
*/

.creation .menu .customize-menu .information .name {
  display: flex;
}

.creation .menu .customize-menu .information .birthday,
.creation .menu .customize-menu .information .gender {
  display: flex;
  margin-top: 1vh;
}

.creation .menu .customize-menu .information .gender button {
  width: 100%;
  height: 3.25vh;
  background-color: rgba(255, 255, 255, 0.25);
  border: 0;
  outline: 0;
  font-size: 1.5vh;
  font-family: Raleway;
  box-sizing: border-box;
  /*box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: background-color 0.75s, box-shadow 0.75s;
  color: white;
}

.creation .menu .customize-menu .information .gender button[name='male'] {
  background-color: deepskyblue;
}

.creation .menu .customize-menu .information .gender button[name='male']:hover {
  background-color: #33ccff;
}

.creation .menu .customize-menu .information .gender button[name='male'].selected {
  box-shadow: 0 0 10px 0 deepskyblue;
}

.creation .menu .customize-menu .information .gender button[name='female'] {
  background-color: deeppink;
}

.creation .menu .customize-menu .information .gender button[name='female']:hover {
  background-color: #ff3ba5;
}

.creation .menu .customize-menu .information .gender button[name='female'].selected {
  box-shadow: 0 0 10px 0 deeppink;
}

.creation .menu .customize-menu .information .gender button i {
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}


/**
*** PARENTS BOX ***
*/

.creation .menu .customize-menu .body #title {
  margin: 0;
}

.creation .menu .customize-menu .body .parents .person {
  width: 100%;
}

.creation .menu .customize-menu .body .parents .person p {
  font-size: 1.75vh;
}

.creation .menu .customize-menu .switcher {
  display: inline-flex;
  width: 100%;
  height: 3.25vh;
  justify-content: center;
  margin-bottom: 3%;
}

.creation .menu .customize-menu .body .parents .percent div,
.creation .menu .customize-menu .head .head-form .slider,
.creation .menu .customize-menu .head .cosmetic-form .slider {
  display: inline-flex;
  width: 95%;
}

.creation .menu .customize-menu .percent div p {
  width: 100%;
  font-size: 1.5vh;
}

.creation .menu .customize-menu .body .parents input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, deeppink, deepskyblue);
}

.creation .menu .customize-menu .body .parents .switcher#vater .field,
.creation .menu .customize-menu .male::-webkit-slider-runnable-track,
.creation .menu .customize-menu .male button,
.creation .menu .customize-menu .field.male {
  background-color: deepskyblue!important;
}

.creation .menu .customize-menu .body .parents .switcher#mutter .field,
.creation .menu .customize-menu .female::-webkit-slider-runnable-track,
.creation .menu .customize-menu .female button,
.creation .menu .customize-menu .field.female {
  background-color: deeppink!important;
}

.creation .menu .customize-menu .body .parents .switcher#vater .arrow {
  filter: drop-shadow(0 0.25vh 0 deepskyblue);
}

.creation .menu .customize-menu .body .parents .switcher#mutter .arrow {
  filter: drop-shadow(0 0.25vh 0 deeppink);
}

/**
*** HEAD BOX ***
*/

.creation .menu .customize-menu .content > .head .category {
  display: inline-flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0 0 1vh 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  justify-content: space-around;
  z-index: 999;
}

.creation .menu .customize-menu .content > .head .category li img {
  display: inline-block;
  width: 4vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.creation .menu .customize-menu .content > .head .category li img:hover {
  animation: shake 0.75s ease-in-out;
}

.creation .menu .customize-menu .content > .head .category li img:active {
  filter: brightness(75%);
}

.creation .menu .customize-menu .content > .head .category .content {
  height: 65.75vh;
}

.creation .menu .customize-menu .content > .head .head-form {
  width: 100%;
  height: 51.75vh;
  overflow-y: scroll;
}

.creation .menu .customize-menu .content > .head .head-form div p {
  margin: 1vh;
}


/**
*** EYES BOX ***
*/

.creation .menu .customize-menu .eyes .image-palette#eyecolor .image-field .container {
  filter: brightness(200%);
  background-size: 240% 100%;
}

.creation .menu .customize-menu .eyes .image-palette#eyecolor .image-field .container:hover,
.creation .menu .customize-menu .eyes .image-palette#eyecolor .image-field .container.selected {
  filter: brightness(250%);
}

/**
*** COSMETIC BOX ***
*/

.creation .menu .customize-menu .cosmetic .cosmetic-form > p {
  font-size: 1.75vh;
}

.creation .menu .customize-menu .cosmetic .male::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, transparent, deepskyblue)!important;
}

.creation .menu .customize-menu .cosmetic .female::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, transparent, deeppink)!important;
}


/**
*** ANIMATIONS ***
*/

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}


/**
*** INPUT [RANGE] ***
*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vh;
  border: 0px solid #000000;
  -webkit-transition: all 0.75s ease-out;
  transition: background-color 0.75s, background 0.75s;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 10px #000000;
  height: 1.75vh;
  width: 1.75vh;
  border-radius: 50%;
  background-color: white;
  -webkit-appearance: none;
  margin-top: -0.6vh;
}


/**
*** SCROLLBAR ***
*/

::-webkit-scrollbar {
  width: 0.4vw;
  height: 0.75vh;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}
